body {
    /*font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;*/
    background: hsl(233, 47%, 7%);
    padding: 0;
    margin: 0;
}

/****** TITLE AND DESCIPTION ******/

.title {
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2em;
    grid-area: title;
    margin-bottom: 1.25rem;
}

.insights {
    color: hsl(277, 64%, 61%); 
}

.description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
    grid-area: desc;
    line-height: 2rem;
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 2rem;
 
}

/****** CARD STYLING ******/
.center {
    width: 70%;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card {
    background: hsl(244, 38%, 16%);
    border-radius: .75rem;
    display: grid;
    grid-template-areas: 
        "title  image"
        "desc   image"
        "stats  image";     
    grid-template-columns: minmax(375px, 540px); 
    margin: 0 auto;
}

.cardtext {
    /*grid-column: 1;*/
    margin: 2rem 5rem 3rem 4rem;
}

/****** IMAGE STYLING ******/

.cardimage {
    grid-area: image;
    /*grid-column: 2;*/
    background-image: linear-gradient(rgba(94, 31, 134, 0.603), rgba(105, 41, 145, 0.616)), url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75em;
}

/****** STATS HEADINGS ******/

.flex1, .flex3, .flex5 {
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: .1rem;
}

/****** STATS DESCRIPTIONS ******/

.flex2, .flex4, .flex6{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.4);
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

/****** STATS LAYOUT ******/

.stats {
    grid-area: stats;
    display: flex;
    gap: 3rem;
}

.numbers1, .numbers2, .numbers3 {
    display: flex;
    flex-direction: column;
}


/****** # Front-end Style Guide ******

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
*/
